# Игнорируем всё, что связано с Git
.git/
.gitignore
README.md

# Игнорируем зависимости, которые переустановит EAS
node_modules/

# Игнорируем локальные файлы окружения (в них могут быть старые, неактуальные адреса)
.env
.env.local

# Игнорируем служебные папки операционных систем
.DS_Store
Thumbs.db